<div class="my-6 mx-6">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        [formGroup]="candidateForm"
        (ngSubmit)="submitForm()"
  >
    <div class="mb-4">
      <h3 class="text-green-500"
          *ngIf="successMsg"
      >
        {{successMsg}}
      </h3>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text"
             id="name"
             placeholder="Please write a name!"
             formControlName="name"
             [ngClass]="{'border-red-500': candidateForm.get('name')?.invalid && (candidateForm.get('name')?.dirty || candidateForm.get('name')?.touched)}"
      >
      <small class="text-red-500"
             *ngIf="candidateForm.get('name')?.invalid && (candidateForm.get('name')?.dirty || candidateForm.get('name')?.touched)"
      >
        Name is required!
      </small>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text"
             id="email"
             placeholder="Please write an email!"
             formControlName="email"
             [ngClass]="{'border-red-500': candidateForm.get('email')?.invalid && (candidateForm.get('email')?.dirty || candidateForm.get('email')?.touched)}"
      >
      <small class="text-red-500"
             *ngIf="candidateForm.get('email')?.invalid && (candidateForm.get('email')?.dirty || candidateForm.get('email')?.touched) && candidateForm.get('email')?.hasError('required')"
      >
        Email is required!
      </small>
      <small class="text-red-500"
             *ngIf="candidateForm.get('email')?.invalid && (candidateForm.get('email')?.dirty || candidateForm.get('email')?.touched) && candidateForm.get('email')?.hasError('notUnique')"
      >
        Email is already entered!
      </small>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>
