<div class="mx-4 p-4">
  <ul class="flex mt-4 hidden rounded-lg divide-x divide-gray-200 shadow sm:flex dark:divide-gray-700">
    <li class="w-full">
      <a class="inline-block relative py-4 px-4 w-full text-sm font-medium text-center rounded-l-lg focus:ring-4 focus:ring-blue-300 focus:z-20 dark:text-white"
         [ngClass]="{
         'text-gray-900 bg-gray-100 active dark:bg-gray-700': currentState === 0,
         'text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer': currentState !== 0
         }"
         (click)="openState(0)"
      >
        New
      </a>
    </li>
    <li class="w-full">
      <a class="inline-block relative py-4 px-4 w-full text-sm font-medium text-center focus:ring-4 focus:ring-blue-300 focus:z-20 dark:text-white"
         [ngClass]="{
         'text-gray-900 bg-gray-100 active dark:bg-gray-700': currentState === 1,
         'text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer': currentState !== 1
         }"
         (click)="openState(1)"
      >
        First interview scheduled
      </a>
    </li>
    <li class="w-full">
      <a class="inline-block relative py-4 px-4 w-full text-sm font-medium text-center focus:ring-4 focus:ring-blue-300 focus:z-20 dark:text-white"
         [ngClass]="{
         'text-gray-900 bg-gray-100 active dark:bg-gray-700': currentState === 2,
         'text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer': currentState !== 2
         }"
         (click)="openState(2)"
      >
        Technical assessment sent
      </a>
    </li>
    <li class="w-full">
      <a class="inline-block relative py-4 px-4 w-full text-sm font-medium text-center focus:ring-4 focus:ring-blue-300 focus:z-20 dark:text-white"
         [ngClass]="{
         'text-gray-900 bg-gray-100 active dark:bg-gray-700': currentState === 3,
         'text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer': currentState !== 3
         }"
         (click)="openState(3)"
      >
        Offer given
      </a>
    </li>
    <li class="w-full">
      <a class="inline-block relative py-4 px-4 w-full text-sm font-medium text-center rounded-r-lg focus:ring-4 focus:ring-blue-300 focus:z-20 dark:text-white"
         [ngClass]="{
         'text-gray-900 bg-gray-100 active dark:bg-gray-700': currentState === 4,
         'text-gray-500 bg-white hover:text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer': currentState !== 4
         }"
         (click)="openState(4)"
      >
        Hired
      </a>
    </li>
  </ul>
</div>

<div class="bg-white px-8 pt-6 pb-8 mb-4 mt-2">
  <dl>
    <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
         *ngFor="let candidate of candidates$ | async | filterObjectBy:'state':currentState; index as i; trackBy: candidateTrackBy"
         [ngClass]="{'bg-gray-50': i % 2 === 0, 'bg-white': i % 2 !== 0}"
    >
      <dt class="text-sm font-medium text-gray-500">
        {{candidate.name}}
      </dt>
      <dd class="mt-1 text-sm text-gray-900">
        {{candidate.email}}
      </dd>
      <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
              *ngIf="candidate.state < 4"
              (click)="moveCandidateToNextState(candidate.id, candidate.state)"
      >
        Move to "{{getNextStateName(candidate.state)}}" state
      </button>
    </div>
  </dl>
</div>
