<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6">
      <div class="text-3xl font-bold text-teal-600">Recruitment App</div>
    </div>
  </div>
</div>
