<div class="mx-4">
  <app-header></app-header>

  <div class="border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <a href="#"
           class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2"
           [ngClass]="{'active text-teal-600 border-teal-600 dark:text-teal-500 dark:border-teal-500': rlaRegister.isActive,'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300': !rlaRegister.isActive}"
           routerLink="/register-candidate" routerLinkActive #rlaRegister="routerLinkActive"
        >Register Candidate</a>
      </li>
      <li class="mr-2">
        <a href="#"
           class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2"
           [ngClass]="{'active text-teal-600 border-teal-600 dark:text-teal-500 dark:border-teal-500': rlaList.isActive,'text-gray-500 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300': !rlaList.isActive}"
           routerLink="/list-of-candidates" routerLinkActive #rlaList="routerLinkActive"
        >List Of Candidates</a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
