
<footer class="fixed bottom-0 w-full p-4 bg-white md:flex md:items-center md:justify-center md:p-6 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
    © 2022
    <a href="https://www.linkedin.com/in/lenche-petkovska-5bb07613b/"
       class="hover:underline">
      Lenche Petkovska
    </a>. All Rights Reserved.
  </span>
</footer>

